@media screen and(max-width:1266px) and(min-width:785) {
    #row3{
        flex-wrap: nowrap !important;
        gap: 15px;
    }
    #nav .icon #menu-icon{
        display: none;
        border: solid red;
    }
}
#nav .icon #menu-icon{
    
    
}
