body #nav{
    background-color: #1D1D1D !important;
    
}
#nav #navbarSupportedContent li a{
    color: white !important;
    margin-right: 20px;
}
#nav #navbarSupportedContent li a img{
    height: 20px;
}
#nav .icon{
    
}
#nav .icon a img{
    width: 20px;
    margin-left: 25px;
}
 #row1{
    background-color: #FAFAFA;
    padding: 12px 50px !important;
    margin: 20px 40px;
    /* border: solid grey 1px; */
    font-size: 12px;
    border-radius: 10px;
}
#row2{
    margin: 0px 40px;
}
#row3{
    margin-bottom: 10px;
    margin: 15px 45px;
    gap: 28px;
    /* border: solid; */
    
    
}
.card {
    background-color: #F8F8F8;
    /* margin: 0px 40px; */
    /* margin-right: -50px; */
    
}
.card-body ul li{
    height: 25px;
    font-size: 10px;

}
.card-body h5{
    font-size: 15px;  
    margin: 0px -20px ;
}
.card span{
    /* border: solid; */
    color: rgb(171, 171, 171) !important;
    
}
.card-body ul li img{
    width: 15px !important;
}

.card-body ul li {
    margin: 0px -25px !important;
}
.card-body ul {
    margin-bottom: -12px;
    

}
.card-body ul li p{
    font-size: 12px;
}
.card-body ul li #li3{
    height: 25px;
}
.card-body ul li span{
    margin-left: 10px;
    font-size: ;
}
.img1 img{
    width: 100%;
    margin: 40px 0px;
}
.flex-container{
    display: flex;
    margin-bottom: -50px;
    gap: 30px;
    margin: 0PX 40PX;
}
.flex-item1{
    /* border:solid;  */
    width: 100%;
   
}
.flex-item1 .subflex1{
    background-color: #f8f8f8;
    border-radius: 5px;
    /* padding: 10px 0px; */
}

.flex-item1 .subflex2{
    background-color: #f8f8f8;
    margin-bottom: -10px;
}

.flex-item1 .subflex1 #button1{
    background-color: rgb(12, 226, 12);
    color: white;
    font-size: 8px;
    margin-top: 10px;
}

.flex-item1 .img1 {
    width: 100%;
    /* border: solid; */
    margin-bottom: -35px;
}

.flex-item1 .img2 {
    width: 15px;
    /* border: solid; */
}
.flex-item1 ul li img{
    width: 13px;
}
.flex-item1 .subflex1 button{
    background-color: white;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
    padding: 2px 8px;
    margin-left: 10px;
    font-size: 13px;
    /* margin-left: -300px; */
    
    
}
.flex-item1 h4{
    background-color: white;
    padding: 10px 0px;
    margin: -12px 0px;
    font-weight: 500;
    font-size: 13px;
    animation: h4 2s ease;
}
@keyframes h4{
    from{
        transform: translateX(-300px);
    }
    t0{
        transform: translateX(0px);
    }
}
.flex-item1 ul{
    list-style: none; 
    padding: 0;
    margin-bottom: 10px 0px;

    
}
.flex-item1 ul li{
    background-color: white;
    padding: 5px 0px;
    margin: 3px 0px;
    height: 20px;
    font-size: 12px;
}.flex-item1 ul li .l3  {
    /* margin-bottom: 10px 0px; */

}
.container1{
    margin: 10px 40px;
}
.container1 button{
    background-color: black;
    color: white;
    border-radius: 12px;
    font-size: 14px;
    margin: 10px 0px;
    border: none;


}
.flex-container4{
    display: flex;
    margin: 10px 40px;
    gap: 30px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}
.flex-container4 div{
    width: 25%;
    flex: 0 0 270px;
    scroll-snap-align: start;
    transition: transform 0.3s ease;
}
.flex-container4 img{
    width: 100%; 
    height: 230px;   

}
.container2 div{
    margin-bottom: 10px;
}
.container2 input{
    width: 650px;
    border-radius: 15px 0px 0px 15px;
    border: solid 1px;
    padding: 10px 15px;
    font-size: 14px;
    margin-top: -10px;

}


@media screen and (max-width:1070px) and (min-width:787px) {
    .flex-container{
        flex-wrap: wrap;
        gap: 15px;
    }

    .flex-item1{
        width: 48%;}
    
}    
@media screen and (max-width:786px) {
    .flex-container{
        flex-wrap: wrap;
        margin: 15px;
        
    }
    .flex-item1{
        width: 100%;
        pa
    }
}
